img {
    width: 300px;
    border-radius: 50px;
    margin-right: 20px;
}

body {
    background-image: linear-gradient(150deg, #444444, #7c7c7c, #bebebe);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 130vh;
    font-family: system-ui;

}

.hamza-title {
    background-color: black;
    color: rgb(162, 0, 255);
    padding: 15px;
    display: inline-block;
    font-size: 24px;
    transition: 0.30s;
    margin-top: 140px;
    border-radius: 20px;
    text-align: center;
    padding-left:300px;
    padding-right:300px;
    margin-left:600px;
    padding-top:35px;
    padding-bottom:35px;
}

.hamza-title:hover {
    color: yellow;
}

.hamza-info {
    background: url('stars.jpg') repeat;
    padding: 20px;
    color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
}

.hamza-description {
    font-size: 24px;
}

.lbotona {
    background-image: linear-gradient(150deg, #d3ff6e, #ff0000e9, #ffffff);
    border-radius: 9px;
    transition: 0.20s;
    border: solid;
}

.lbotona:hover {
    opacity: 0.9;
}

.about-me {
    margin-left: 886px;
    margin-top: 25px;
    border: none;
    background-color: #000000;
    color: #00384b;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 20px;
    cursor: pointer;
    transition: 0.20s;
    margin-bottom: 30px;
}

.about-me:hover {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: antiquewhite;
}

.some-pictures {
    border: solid;
    border-radius: 8px;
    padding-left: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 15px;
    cursor: pointer;
    border-color: rgba(0, 0, 0, 0);
    background-color: #000000;
    color: #00384b;
    margin-left: 865px;
    transition: 0.20s;
}

.some-pictures:hover {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: antiquewhite;
}

.instagram:hover {
    opacity: 0.7;
    margin-top: 3px;
}

.instagram:active {
    opacity: 0.5;
}

.instagram {
    transition: 0.30s;
    margin-left: 450px;
}

.him {
    transition: 1.2;
    margin-left: 423px;
}

.him:hover {
    opacity: 0.9;
}

.hima {
    transition: 0.8;
}

.hima:hover {
    opacity: 0.9;
}

.vids {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 14px;
    display: inline-block;
    font-size: 24px;
    transition: 0.30s;
    border-radius: 20px;
    transition: 0.30s;
    margin-left: 560px;
}

.vids:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.fei {
    border-radius: 10px;
    margin-left: 778px;
    border: none;
}

.custom-shape-divider-top-1697404429 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    line-height: 0;
    overflow: hidden;
}

.custom-shape-divider-top-1697405516 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1697405516 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 121px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1697405516 .shape-fill {
    fill: #2d2d2d;
}

.game {
    margin-left: 1030px;
}

.lok {
    margin-left: 180px;
}

.py {
    margin-left: 800px;
    margin-top: 90px;
    transition: 0.30s;
}

.py:hover {
    opacity: 0.82;
}

.poyt {
    margin-top: 50px;
}
